# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
.venv/
venv/
env/

# PyInstaller build artifacts
dist/
*.spec.bak
